@charset "utf-8";
/* CSS Document */

*{margin:0;padding: 0;}
	.wrap{
		width:780px;
		height: 880px;
		margin:0 auto;
		box-shadow: 10px 10px 30px #ccc;
		border-radius: 2px;
		padding: 10px;
		position: relative;
		top: 50px;
	}
	.says{
		width:780px;
		height: 200px;
		position: absolute;
	}
	.says h1{
		font-size:18px;
		color:#A8A8A8;
		margin-bottom: 5px;
	}
	textarea{
		width:760px;
		height: 100px;
		outline: none;
		resize: none;
		border:1px solid #ccc;
		border-radius: 3px;
		padding: 5px;
		color:#660000;
	}
	input{
		width:100px;
		height: 30px;
		border:none;
		cursor: pointer;
		background: #00CC66;
		color:white;
		border-radius: 2px;
		position: absolute;
		right: 10px;
		bottom: 5px;
		transition: all ease 0.4s;
		font-size: 16px;
	}
	input:hover{
		filter:alpha(opaciyt:70);
		opacity: 0.7;
	}
	.message{
		width:750px;
		height: 640px;
		position: absolute;
		bottom: 0;
		overflow-x: hidden;
		overflow-y: scroll;

	}
	.message li{
		width:750px;
		border-bottom: 1px  dotted #ccc;
		list-style:none;
		line-height: 57px;
		font-size: 14px;
		color:#606060;
		overflow: hidden;
		filter: alpha(opacity:0);
		opacity: 0;

	}
	span{
		float: right;
		margin-right: 30px;
	}
	.errmsg{
		font-size: 14px;
		color:red;
		font-weight: bold;
		filter: alpha(opacity:0);
		opacity:0;
	}
	.message a{
		font-size: 14px;
		color:#990000;
		text-decoration: none;
		margin-left: 10px;
	}
	.message a:hover{
		color:red;
		text-decoration: underline;
	}